/* @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.container{
  position: relative;
  width: 13em;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.site-nav{
  position: absolute;
  top:0;
  left:0 ;
  width: 100%;
  background: black;
  box-shadow: 10px 0px 10px rgba(0,0,0,0.19), 8px 0px 10px rgba(0,0,0,0.23);
  height: 100%;
}

.site-nav ul{
  list-style: none;
  margin: 0;
  padding:0;
}

.site-nav li{
  border-bottom: 1px solid #575766;

}
.site-nav li:last-child{
  border-bottom: none;
}

.site-nav a{
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 1.25em 1.0em;
  color: white;
}
.site-nav a:hover,
.site-nav a:focus{
  background: white;
  color:black;
}
.site-nav div{
  width: 100px;
  display: inline-block;
}
.site-nav .icon{
  vertical-align: middle;
  display:inline-block;
  font-size:2.5em;
  margin-right:0.5em;
  text-align:center;
  width: 1.1em;
}

.menu-toggle{
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0;
  right: -3em;
  cursor: pointer;

}

.menu-toggle span{
  height: 4px;
  margin-bottom: calc(1em - 6px);
  display: block;
  border-radius: 4px;
  background: red;
}

.menu-toggle span:nth-child(1){
  width: 100%;
}

.menu-toggle span:nth-child(2){
  width: 75%;
}

.menu-toggle span:nth-child(3){
  width: 50%;
} */
.MenuBar-container {
display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Top-toolbar  {
  position: fixed;
  background-color: transparent;
}
.siteNav-containe{
  flex:1;
}