<div class="cardwrapper">
  <mat-card>
    <mat-card-title class="title">
      Project Lorem, ipsum dolor
    </mat-card-title>
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
      <img src="" alt="img" class="pcard-img" mat-card-imgage>
      <div class="desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo molestias quam, hic amet nemo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo molestias quam, hic amet nemo.</p>

      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="10px">
      <button> More</button>
      <button> Github</button>
    </mat-card-actions>
  </mat-card>
</div>