<div class="container">
  <div class="apage1">
    <div class="p1content">
      <img src="" alt="Profile Image" class="profileimg">
      <div class="content">
        <p>Hi, I'm <b>Cuong</b>, but you can call me Kevin.</p>
        <p>Coffee-lover, Foodie, Explorer and Photographer.</p>
        <p>Software engineer who striving to build bigger and better idiot-proof programs.</p>
        <p>Software engineer who is not just writing code, but more of a craftsmanship.</p>
        <p>Seeking more knowledge, to disrupt the industry, to work hard for things that are worth it, and to be surrounded by those who bring out the best in me.</p>
      </div>
    </div>
  </div>
  <div class="apage2">
    <div class="p2content">
      <p class="title">My life</p>
    </div>
    <ul class="timeline">
      <li class="event event-l left">
          <div class="tag">
            2015 - 2018
          </div>
          <div class="title">
            University of Central Florida
          </div>
          <div class="desc">
            <div class="row">
              <div class="left">
                Bachelor of Computer Science
              </div>
              <div class="right">
                Graduated: May 2018
              </div>
            </div>
            <div class="row">
              GPA: 3.83
            </div>
            Relevant Skills:

          </div>
      </li>
      <li class="event event-r right">
        <div class="tag">
          4/2018 - present
        </div>
        <div class="title">
          Software Engineer at Tenosar Corporation
        </div>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque est reiciendis natus sunt nihil rerum!
        </div>
      </li>
    </ul>
  </div>
</div>
