
<div class="page-container" fxLayout="row" fxLayoutAlign="center center"

  >
  <div fxFlex="80" class="projects-container"
    >

    <div fxLayout="row wrap" fxLayoutAlign="space-around center"
      fxLayout.xs="column" fxLayoutAlign.xs = "space-around stretch"
      fxLayoutGap="10px"
    class="cards-container">
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
    </div>

  </div>

</div>
