.project-wrapper{
    min-height: 100vh;
    background: gray;
  }
  
  .project-wrapper .header{
    background: white;
  }
  .project-wrapper .content{
    background: black;
    width: 100%;
  }
  .chiplist{
    margin: 20px;
  }