<!-- <div fxLayout="row" fxLayoutGap="0%" fxLayoutGap.md-xs="0" fxLayout.xs="column-reverse"  fxFlexAlign="Center" class="aboutwrapper">
    <div  fxFlex="60vw" fxFlex.xs="100vw"  
    fxLayout="column wrap" fxFlexAlign="Center" class="left-container">
        <div class="abouttext">
            About
        </div>
        <div class="intro">
            Hi, I'm Kevin Nguyen. I'm a Software Engineer at Tenosar Corporation, Orlando. I'm a motivated, passionate and adaptable individual who loves to create ingenious software and solve complex problem.
        </div>
        <div class="button-row">
            <button mat-stroked-button>My Resume</button>
            <button mat-stroked-button>My story</button>
        </div>
    </div>
    <div  fxFlex="40vw" fxFlexAlign="center" class="right-container" ngClass.xs="quotesm" >
        <div class="quote">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, impedit."
        </div>
    </div> -->

<div fxLayout="row-reverse" fxLayout.lt-sm="column"
fxLayoutAlign="space-evenly none"
fxLayoutAlign.lt-sm="none"
class="about-container">
  <div fxFlex="30%" fxLayout="column" fxLayoutAlign="space-around" class="header">
    <p>"I'm not a great programmer.I'm just a good programmer with great habits"</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center"  class="content">
    <div fxFlexAlign="start" class="title">Cuong Nguyen (Kevin)</div>
    <div fxLayout="column" fxLayoutAlign=" start none" fxLayoutAlign.lt-sm="start none"  class="maincontent">
        <p>Hi, there! My Name Is Kevin Nguyen</p>
        <p>A Software Engineer at Tenosar Corporation</p>
        <p>A Recent Computer Science at University of Central Florida</p>
        <p>A Seeker of new full time opportunity</p>
        <p>A coder who love to learn from you, your team, and your company</p>
    </div>
    <div fxFlexOffset="20px" fxLayout="column" class="more">
      <div fxFlexAlign="center">More about me</div>
      <button fx mat-flat-button	 class="resBtn">
        My Resume
      </button>
    </div>
  </div>
</div>