<div fxLayout="row-reverse" fxLayout.lt-sm="column"
fxLayoutAlign="space-evenly none"
fxLayoutAlign.lt-sm="none"
class="about-container">
  <div fxFlex="30%" fxLayout="column" fxLayoutAlign="space-around" class="header">
    <p>"I'm not a great programmer.I'm just a good programmer with great habits"</p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center"  class="content">
    <div fxFlexAlign="start" class="title">Cuong Nguyen (Kevin)</div>
    <div fxLayout="column" fxLayoutAlign=" start none" fxLayoutAlign.lt-sm="start none"  class="maincontent">
        <p>Hi, there! My Name Is Kevin Nguyen</p>
        <p>A Software Engineer at Tenosar Corporation</p>
        <p>A Recently Computer Science graduate at University of Central Florida</p>
        <p>A Seeker of new full time opportunity</p>
        <p>A coder who love to learn from you, your team, and your company</p>
    </div>
    <div fxFlexOffset="20px" fxLayout="column" class="more">
      <div fxFlexAlign="center">More about me</div>
      <button fx mat-flat-button	 class="resBtn" href="https://www.dropbox.com/s/o50eng97chikvvh/Cuong%20Nguyen%20-%20Website.pdf?dl=0">
        My Resume
      </button>
    </div>
  </div>
</div>
