.about-container{
  height: 100vh;
  background: #101010;
}
.content{
  color: white;
}

.content .title{
  margin: 10px;
  padding: 10px 40px;
  border: 1px solid white;
}
.content .maincontent{
  /* text-align: center; */
  overflow: hidden;
}
.maincontent p{
  text-transform: capitalize;
  text-justify: distribute;
  /* margin: 10px; */

}
.maincontent p:nth-of-type(odd){
  text-align: left;
}
.more{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2em;
}
.more div{
  margin: 10% 10px;
  /* padding: 0 20px; */
  width: 100%;
  /* min-width: 60%; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header{
  background-color: white;
  font-size: 1em;
  text-align: center;
  text-justify: distribute;
}
