<div fxLayout="row" fxLayoutGap="0%" fxLayoutGap.md-xs="0" fxLayout.xs="column-reverse"  fxFlexAlign="Center" class="aboutwrapper">
    <div  fxFlex="60vw" fxFlex.xs="100vw"  
    fxLayout="column wrap" fxFlexAlign="Center" class="left-container">
        <div class="abouttext">
            About
        </div>
        <div class="intro">
            Hi, I'm Kevin Nguyen. I'm a Software Engineer at Tenosar Corporation, Orlando. I'm a motivated, passionate and adaptable individual who loves to create ingenious software and solve complex problem.
        </div>
        <div class="button-row">
            <button mat-stroked-button>My Resume</button>
            <button mat-stroked-button>My story</button>
        </div>
    </div>
    <div  fxFlex="40vw" fxFlexAlign="center" class="right-container" ngClass.xs="quotesm" >
        <div class="quote">
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, impedit."
        </div>
    </div>

<!--     
        <mat-grid-list class="contentGrid" cols="2" rowHeight="4em" >
            <mat-grid-tile>
                <mat-list>
                    <mat-list-item>
                        
                        <p class="aboutTitle">
                                About
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        
                        <div class="intro">
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="row">
                        </div>
                    </mat-list-item>
                </mat-list>

            </mat-grid-tile>
            <mat-grid-tile rowspan="1" colspan="1">
                <div class="quote">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, amet?
                </div>
            </mat-grid-tile>
        </mat-grid-list> -->
    </div>


