.hellotext{
  color: white;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}


@media (min-width:600px){
  .hellotext{
    margin-right: 15vw;
    width: 30vw;
  }
}
@media (min-width:1920px){
  .hellotext{
    margin-right: 15vw;
    width: 20vw;
  }
}
