.mainnav-container{
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.sidenav-container {
  height: 0%;
}

.sidenav {
  /* background-color: transparent; */
  background: black;
  box-shadow: 10px 0px 10px rgba(0,0,0,0.19), 8px 0px 10px rgba(0,0,0,0.23);
  width: 120px;
}
.sidenav .item{
  color: white;
}
.sidenav .menutext{
  background-color:transparent;
}
.sidenav .mat-toolbar{
  background-color: transparent;
}


