<div class="mainnav-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="'navigation'"
        [mode]="'side'"
        [opened]="!'false'">
      <mat-toolbar class="menutext">Menu</mat-toolbar>
      <mat-nav-list >
        <a mat-list-item href="#" class="item">Projects</a>
        <a mat-list-item href="#" class="item">Blogs</a>
        <a mat-list-item href="#" class="item">About Me</a>
        <a mat-list-item href="#" class="item">Github</a>
      </mat-nav-list>
    </mat-sidenav>
  
  </mat-sidenav-container>
  <button  mat-icon-button 
  Class="menu-toggle" 
  (click)="drawer.toggle()" ><mat-icon>menu</mat-icon>

</button>

</div>